.main {
  margin: 3rem auto;
  width: 90%;
}

.main ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

footer {
  background-color: #0a7d81;
  color: white;
  text-align: center;
  padding: 2%;
  min-height: 4vh;
}
